{% extends "base.html" %} {% load static %} {% block title %}11111{% endblock %}
{% block body %}
<!-- CONTENT -->
<div class="content">
  <div class="container">
    <div class="salon__service">
      <div class="salon__left_menu">
        <div class="salon__left_menuInfo">
          <ul class="salon__left_menu_ul">
            {% for category in categories %}
            <li class="salon__left_menu_ul_li">
              <a
                class="salon__left_a"
                href="{% url 'service-list' category.slug %}"
                >{{ category.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="salon__right_menu">
        <h1 class="salon__right_menu_h1">Услуги</h1>
        <div class="js-scroll">
          <div class="jscroll-inner">
            <img class="service__image" src="{{ service.img.url }}" />
            <p>{{ service.id}}</p>
            <p>{{ service.title}}</p>
            <p>{{ service.price}}</p>
            <p>{{ service.description}}</p>
            {% if user.is_staff or user.is_superuser %}
            <a href="{% url 'edit-service' service.id %}"
              ><button class="service__redactor" type="button">
                Редактировать
              </button></a
            >
            <a href="{% url 'delete-service' service.id %}"
              ><button class="service__delete" type="button">Удалить</button></a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
